@charset "utf-8";

html {
	box-sizing: border-box;
}

body {
    margin:0;
	width: 100%;
	background-color: #A5A5A5;
}

header {
	width: 100%;
	top: 0px;
	position: fixed;
	background-color: #FFFFFF;
	z-index: 2;
}

header h1 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 2em;
	padding-left: 3em;
}

nav {
	position: fixed;
	float: right;
	top: 1.25em;
	left: 0;
	display: block !important;
	width: 90%;
	padding: 1.25em 1em 0 0;
	opacity: 0.95;
	background: none;
	
}

nav ul {
	list-style-type: none;
	margin: 0;
	text-align: right;
}

nav ul li {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 3em;
}

.activated a {
	font-size: 1em;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-decoration: none;
	color: #4E4E4E;
}

.active a {
	font-size: 1em;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-decoration: none;
	color: #000000;
	transition: color 1s;
}

.active a:hover {
	color: #4E4E4E;
}

main {
	margin: 85px 0 75px 0;
	background-image: linear-gradient(white, #A5A5A5);
}

.column {
	float: left;
	width: 50%;
}

.link_pic {
	width: 60%;
	height: auto;
	display: block;
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	}

.link_pic:hover {
	opacity: 0.4;
	background-color: #B0B0B0;
}

.about_block {
	margin: 0 0 0 25%;
}

.about_block h2 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 3em;
}

.column p {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 1.1em;
}

.headshot {
	width: 80%;
	height: auto;
	display: block;
	margin: 75px auto 0 auto;
}

@media screen and (max-width:600px) {
	.column {
    	width: 100%;
	}
}

.main_body:after {
	content: "";
	display: table;
	clear: both;
}

footer {
	background-color: #A5A5A5;
	border-top: 1px solid black;
}

footer div {
	margin: 0 0 0 7.5%;
	padding-bottom: 3%;
	width: 20%;
	background-color: #A5A5A5;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 1.25em;
}

footer div a {
	color: black;
}

footer div img {
	width: 15%;
	height: auto;
}

/* Info pages styles */
.title_block {
	margin: 0 10% 0 25%;
}

.title_block h1 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 3em;
}

.title_block h2 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 1.5em;
}

.side_block {
	margin: 0 25% 0 10%;
}

.side_block h3 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 1em;
}

.lower_body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	width: 50%;
	margin: 0 auto 0 auto;
	text-align: center;
}

.vert_rocket {
	width: 7.5%;
	height: auto;
	float: right;
	margin: 0 15% 0 0;
}

.lower_column_pictures {
	width: 50%;
	height: auto;
	display: block;
	margin: 0 auto 0 auto;
}

.right_text {
	display: block;
	margin: 25% 20% 0 0;
	width: 80%;
}

.board_caption {
	display: block;
	margin: 5% 20% 0 0;
	width: 80%;
}

.left_text {
	display: block;
	margin: 10% 0 0 20%;
	text-align: right;
	width: 80%;
}

.lower_columns:after {
	content: "";
	display: table;
	clear: both;
}